body {
    margin: 0;
}

#root {
    min-height: 100vh;
    display: flex;
}

.header {
    display: flex;
    align-items: center;

    .logo {
        color: #fff;
    }

    h2 {
        color: #fff;
    }
}

.content {
    padding: 20px 50px;
}

.currentWeather {
    padding: 20px;
    width: 100%;

    .labelTitle {
        color: #7e7e7e;
        font-weight: 500;
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 44px;
        column-gap: 10px;
        font-weight: 700;
    }
}